	
			
	<f:subview id="mainnavigation">
		<div id="div_general_links">
			<h:form>
				<h:commandLink value="#{msg.linkname_start}" action="start"/>&nbsp;
	            <h:commandLink value="#{msg.linkname_projekt}" action="projekt"/>&nbsp;
	            <h:commandLink value="#{msg.linkname_impressum}" action="impressum"/>&nbsp; 
	            <h:commandLink value="#{msg.linkname_participating_repositories}" action="repositories"/>&nbsp;
	            <h:outputLink value="http://oanetzwerk.wordpress.com" target="_blank">Blog</h:outputLink>&nbsp;
	            <h:outputLink value="http://oanetzwerk.wordpress.com/2009/07/03/worum-geht-es-eigentlich/" target="_blank">About</h:outputLink>&nbsp;
	            <h:commandLink value="#{msg.linkname_contact}" action="contact"/>&nbsp;
			</h:form>
	    </div>
    </f:subview>