
 
 /** custom **/
 
 td.form
 {
 	border-bottom: 15px solid #f5f9f4;
 }
 
 td.review
 {
 	width: 120px;
 }
 
 table.watermark
 {
 	background-image: url(../images/logo_oan_gray.png); 
 	background-repeat: no-repeat; 
 	background-position: bottom left;
 }
 
 div.help_box
 {
 	font-style:italic
 }

div.infomessage_box
{
	border: 1px solid #00E808;

	padding: 15px 20px 15px 20px;
}

a:visited {
	text-decoration:none;
}




.myFaces_panelTabbedPane_activeHeaderCell input {
    background-color: #D4E6D1 !important;
    cursor: pointer;
}
.myFaces_panelTabbedPane_inactiveHeaderCell input {
    background-color: #F4F4F4 !important;
    cursor: pointer;
}

td.myFaces_panelTabbedPane_pane {
    background-color: #D4E6D1;
    border-style: none solid solid solid;
    border-width: 2px;
    border-color: silver;
    padding: 10px;
}


td.myFaces_panelTabbedPane_activeHeaderCell {
	border-style: solid;
	background-color: #D4E6D1;
	text-align: center;
}

td.myFaces_panelTabbedPane_inactiveHeaderCell {
	border-style: solid solid solid none;
	text-align: center;

}

td.myFaces_panelTabbedPane_disabledHeaderCell {
	border-top: 1px outset silver;
	border-right: 1px outset silver;
	border-bottom: 0px none;
	border-left: 1px outset silver;
	text-align: center;
	background-color: #B8DFFF;
}

.myFaces_panelTabbedPane_subHeaderCell{
 	height: 2px;
	font-size: 0;
	border-bottom: 0px none;
}
td.myFaces_panelTabbedPane_subHeaderCell_active{
	background-color: #D4E6D1;
	border-top: 0px none;
}
td.myFaces_panelTabbedPane_subHeaderCell_inactive{
	background-color: #D4E6D1;
	border-top: 0px none;
}
td.myFaces_panelTabbedPane_subHeaderCell_first{
	background-color: #D4E6D1;
	border-left: 1px solid silver;
}
td.myFaces_panelTabbedPane_subHeaderCell_last{
	background-color: #D4E6D1;
	border-right: 1px solid silver;
}
 
 /** overlay **/
 
div.overlay_main{

	margin: auto; 
	margin-top: 200px; 
	margin-bottom: 100%; 
	width: 800px; 
	border: 4px #AAFFAA solid; 
	background-color: rgba(250,250,250,1.00); 
	-moz-border-radius: 25px; 
	-webkit-border-radius: 25px;	
}

div.overlay_outside{
	
	position:absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	background-color: rgba(0,0,0,0.80);
	
}
 
 /** online status table **/
 
table.maximized{
	
	width: 100%;
	
} 
 
td.centered{
	
	text-align: center;
	
}  
 
 /** custom end  **/
 
body {
  margin: 0;
  padding: 0;
  background: white;
}

body, table, form, input, td, th, p, textarea, select
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
}

FORM {
  margin: 0;
}

td {
  vertical-align: top;
}
/**/
/*dt {*/
/*  font-weight: bold;*/
/*}*/
/**/
/*.fixed-width {*/
/*  font-family: Courier, monospace;*/
/*}*/
/**/
/*.center {*/
/*  text-align: center;*/
/*}*/
/**/
/*.middle-align td, td.middle-align {*/
/*  vertical-align: middle;*/
/*}*/
/**/
/*.center-align td, td.center-align {*/
/*  text-align: center;*/
/*}*/
/**/
/*.no-wrap td, td.no-wrap {*/
/*  white-space: nowrap;*/
/*}*/
/**/
/*#main-table {*/
/*  padding: 0;*/
/*  border-collapse: collapse;*/
/*}*/
/**/
#top-panel {
  margin-bottom: 3pt;
  height: 50px;
  background: url(../images/topbar.png) repeat-x;
}
#top-panel a {
  text-decoration: none;
}

#left-top-nav {
  text-align: left;
  border-left: 10px solid #fff;
  padding: 4px;
  color: #222;
}

#left-top-nav a, #right-top-nav a {
  color: black;
}

#right-top-nav {
  text-align: right;
  padding: 4px;
}

#main-panel {
  padding: 10px;
}

#side-panel {
  padding: 4px;
  width: 220px;
}
/**/
#footer {
  text-align: right;
  font-size: 8pt;
  margin-top: 10em;
  padding: 10px;
  border-top: 1px solid #bbb;
}

#tasks {
  padding: 4px;
}
/**/
/*.skiplink {*/
/*    position: absolute;*/
/*    left: -20000px;*/
/*}*/
/**/
/*#shutdown-msg {*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    background-color: #ef2929;*/
/*    text-align: center;*/
/*    margin-left: 2em;*/
/*    margin-right: 2em;*/
/*    margin-bottom: 0.5em;*/
/*    padding: 0.5em;*/
/*    -moz-border-radius: 0.5em;*/
/*}*/
/**/
a:link {
  text-decoration: underline;
  color: #204A87;
}

a:visited {
  text-decoration: underline;
  color: #204A87;
}
/**/
/* tip - anchors of class info */
a.tip {
  position:relative;
  z-index:24;
  text-decoration: underline;
}

a.tip:hover {
  z-index:25;
}

a.tip span {
  display: none
}

a.tip:hover span {
  display:block;
  position:absolute;
  top:2em;
  left:2em;
  width:400px;
  border:1px solid #bbbbbb;
  background-color:#fffff0;
  color:#000;
  text-align: left
}

#top-nav .a {
  color: white;
}

img {
  vertical-align: middle;
  border: 0;
}
/**/
/*table.tab {*/
/*  border-collapse: collapse;*/
/*}*/
/**/
/*td.selected_tab {*/
/*  vertical-align: middle;*/
/*  border: 1px #090 solid;*/
/*  background: #ffffff;*/
/*}*/
/**/
/*td.tab_filler {*/
/*  background: #ffffff;*/
/*  border-bottom: 1px #090 solid;*/
/*}*/
/**/
/*td.tab {*/
/*  vertical-align: middle;*/
/*  border: 1px #090 solid;*/
/*  background: #f0f0f0;*/
/*}*/
/**/
/*.dashboard td {*/
/*  padding: 4px 4px 4px 4px;*/
/*}*/
/**/
/*pre { see http://users.tkk.fi/tkarvine/pre-wrap-css3-mozilla-opera-ie.html */
/*    white-space: pre-wrap;        css-3 */
/*    white-space: -moz-pre-wrap;   Mozilla, since 1999 */
/*    white-space: -pre-wrap;       Opera 4-6 */
/*    white-space: -o-pre-wrap;     Opera 7 */
/*    word-wrap: break-word;        Internet Explorer 5.5+ */
/*    margin: 0;*/
/*}*/
/**/
/*pre.console {*/
/*  overflow: auto;*/
/*}*/
/**/
/*.setting-leftspace {*/
/*  width: 2em;*/
/*}*/
/**/
/*.setting-name {*/
/*  white-space: nowrap;*/
/*}*/
/**/
/*.setting-main {*/
/*  width: 100%;  try to make this column as big as possible. */
/*}*/
/*.setting-help {*/
/*  width: 16px;*/
/*}*/
/**/
/*.setting-input {*/
/*  width: 100%;*/
/*}*/
/**/
/*.setting-description {*/
/*  font-size: 0.8em;*/
/*  margin-top: 0;*/
/*  padding-top: 0;*/
/*}*/

/* div that looks like a hyperlink */
/*.pseudoLink {*/
/*  cursor: pointer;*/
/*}*/
/**/
/*.advancedLink {*/
/*  text-align: right;*/
/*}*/
/**/
/*.advancedBody {*/
/*  display: none;*/
/*}*/
/**/
/*.scm_info {*/
/*  width: 480px;*/
/*}*/
/**/
/*.build-row {*/
/*  padding: 3px 4px 3px 4px;*/
/*}*/
/**/
/*.build-keep {*/
/*  font-weight: bold;*/
/*}*/
/**/
/*.task-header {*/
/*  display: block;*/
/*  border-bottom: 1px #090 solid;*/
/*  font-weight: bold;*/
/*  font-size: 12pt;*/
/*}*/
/**/
.task {
  white-space: nowrap;
}

.subtasks {
  padding-left: 1em;
}
/**/
/*.main-table {*/
/*}*/
/**/
/*div.dashboard {*/
/*  width: 100%;*/
/*  clear:both;*/
/*}*/

.pane  {
  margin-top: 4px;
  white-space: nowrap;
  height: 50px;
  width: 20%;
}
.pane td {
  padding: 4px 4px 3px 4px;
}

table.pane {
  width: 100%;
  border-collapse: collapse;
  border: 1px #bbb solid;
}

td.pane {
  border: 1px #bbb solid;
  padding: 3px 4px 3px 4px;
  vertical-align: middle;
  height: 50px;
   
}



td.pane-header {

  border-right: none;
  border-left: none;
  background-color: #f0f0f0;
  font-weight: bold;
  
}

th.pane-header {

  border-right: none;
  border-left: none;
  background-color: #d4e6d1;
  font-weight: bold;
  vertical-align: middle; 
  height: 30px;
 
}

th.pane {
  border: 1px #bbb solid;
  font-weight: bold;
  background-color: #f0f0f0;
}


tr.odd {
	background-color:#FFFFFF;
   
}

tr.even {
	background-color:#f5f9f4;;
   
}



/*.bigtable tr {*/
/*  border: 1px solid #bbb;*/
/*  padding: 3px 4px 3px 4px;*/
/*}*/
/**/
/*.bigtable tr:hover {*/
/*  background-color: #f0f0f0;*/
/*}*/
/**/
/*.bigtable th {*/
/*  font-weight: bold;*/
/*  border: none;*/
/*  background-color: #f0f0f0;*/
/*  padding: 3px 4px 3px 4px;*/
/*}*/
/**/
/*.bigtable td {*/
/*  vertical-align: middle;*/
/*  padding: 3px 4px 3px 4px;*/
/*}*/
/**/
/*.smallfont {*/
/*  font-size: 9px;*/
/*}*/
/**/
/*#foldertab {*/
/*  padding: 4px 0;*/
/*  margin-left: 0;*/
/*  border-bottom: 1px solid #090;*/
/*  font: bold 12px Verdana, sans-serif;*/
/*}*/
/**/
/*#foldertab li {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  display: inline;*/
/*}*/
/**/
/*#foldertab li a {*/
/*  padding: 4px 0.5em;*/
/*  margin-left: 3px;*/
/*  border: 1px solid #090;*/
/*  border-bottom: none;*/
/*  background: #090;*/
/*  text-decoration: none;*/
/*}*/
/**/
/*#foldertab li a:link { color: white; }*/
/*#foldertab li a:visited { color: white; }*/
/**/
/*#foldertab li a:hover {*/
/*  color: white;*/
/*  background: #6c0;*/
/*  border-color: #6c0;*/
/*}*/
/**/
/*#foldertab li a#current {*/
/*  background: white;*/
/*  border-bottom: 1px solid white;*/
/*  color: black;*/
/*}*/
/**/
/*.changeset-message {*/
/*  border: 1px solid #ccb;*/
/*  background: #eed;*/
/*  padding: 4px;*/
/*  white-space: normal;*/
/*}*/
/**/
/*.disabledJob {*/
/*  color: gray;*/
/*}*/
/**/
/*.spinner {*/
/*  padding-left: 32px;*/
/*  padding-top: 0.5em;*/
/*  padding-bottom: 0.5em;*/
/*  background-image: url("../images/spinner.gif");*/
/*  background-repeat: no-repeat;*/
/*  background-position: left;*/
/*}*/
/**/
/*.spinner-right {*/
/*  padding-right: 32px;*/
/*  padding-top: 0.5em;*/
/*  padding-bottom: 0.5em;*/
/*  background-image: url("../images/spinner.gif");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/
/**/
/*#login-field {*/
/*    vertical-align: middle;*/
/*    padding-right: 1em;*/
/*    width:1px;*/
/*}*/
/**/
/*#login-field SPAN {*/
/*  white-space:nowrap;*/
/*  color: white;*/
/*}*/
/**/
/*#login-field A {*/
/*    */
/*      link inside login field should be always white.*/
/*      If I set this to inherit, it won't work in IE7*/
/*     */
/*    color: white;*/
/*}*/

/*div.behavior-loading {*/
/*    position: absolute; width: 80%; height:100%;*/
/*    background-color: #e4e4e4; text-align: center; font-size: 300%;*/
/*    opacity: 0.5;*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
/*    filter: alpha(opacity=50);*/
/*}*/

/* ======================== error/warning message (mainly in the form.) Use them on block elements ======================== */
.error {
    color: #CC0000;
    font-weight: bold;
    padding-left: 20px;
    min-height: 16px;
    background-image: url("../images/16x16/error.gif");
    background-position: left center;
    background-repeat: no-repeat;
}

.warning {
    color: #C4A000;
    font-weight: bold;
    padding-left: 20px;
    min-height: 16px;
    background-image: url( "../images/16x16/warning.gif" );
    background-position: left center;
    background-repeat: no-repeat;
}

.info {
    color: black;
    font-weight: bold;
    padding-left: 20px;
    min-height: 16px;
    background-image: url( "../images/16x16/go-next.gif" ); /* TODO: get a better icon */
    background-position: left center;
    background-repeat: no-repeat;
}
/* ====================== help ===================================== */

.help {
  display: none;  /* hidden until loaded */
  border: solid #bbb 1px;
  background-color: #f0f0f0;
  padding: 1em;
  margin-bottom: 1em;
}

.help-area {
  /* this marker class is used by JavaScript to locate the area to display help text. */
}


/*
 ========================= search box at the top-right of the page ========================= 
*/
/*#search-box {*/
/*  background: white url(../images/16x16/search.gif) no-repeat 2px center;*/
/*  padding-left: 20px;*/
/*  width: 10em;*/
/*  position: static; */
/*}*/
/**/
/*#search-box.defaulted {*/
/*  color: gray;*/
/*}*/
/**/
/*#search-box-completion {*/
/*  text-align: left;*/
/*  width:10em;*/
/*  position: absolute;*/
/*  z-index: 999;*/
/*}*/
/**/
/*#search-box-completion .yui-ac-content {*/
/*  border: 1px solid black;*/
/*  width:10em;*/
/*  background-color: white;*/
/*  overflow: hidden;*/
/*}*/
/**/
/*#search-box-completion UL {*/
/*  padding: 0 0;*/
/*  width: 100%;*/
/*  margin: 0 0;*/
/*  list-style: none;*/
/*}*/
/*#search-box-completion LI {*/
/*  padding-left:20px;*/
/*  white-space:nowrap;*/
/*}*/
/*#search-box-completion LI.yui-ac-highlight {*/
/*  background: #729FCF;*/
/*}*/
/*#search-box-minWidth {*/
/*  position:absolute;*/
/*  visibility: hidden;*/
/*  width:5em;*/
/*}*/
/**/
/*#search-box-sizer {*/
/*  position:absolute;*/
/*  visibility: hidden;*/
/*}*/
/*
 ========================= resizable text area ========================= 
*/
/*TEXTAREA {*/
/*    margin-bottom: 0;*/
/*}*/
/*DIV.textarea-handle {*/
/*    height: 5px;*/
/*    font-size: 0;*/
/*    background: #EEE url(../images/textarea-handle.gif) no-repeat 50% 1px;*/
/*    border: 1px solid #BABDB6;*/
/*    border-top: none;*/
/*    cursor: s-resize;*/
/*}*/
/*TEXTAREA.rich-editor {*/
/*  visibility: hidden;*/
/*}*/
/**
 ========================= hover notification ========================= 
*/
/*#hoverNotification {*/
/*    visibility:hidden;*/
/*    background-color: white;*/
/*    border: 1px solid black;*/
/*    padding: 0.5em;*/
/*}*/
/**/

