<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="MeinAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="MeineLogDatei.log" />
    <param name="MaxFileSize" value="10MB" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{ISO8601} %-5p [%t] %c: %m%n" />
    </layout>
  </appender>
  
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{ISO8601} %-5p [%t] %c: %m%n" />
    </layout>
  </appender>

  <logger name="de.dini.oanetzwerk">
    <level value="DEBUG" />
    <!--appender-ref ref="MeinAppender" /-->
  </logger>
  <root>
  <!--
    <priority value="INFO" />
  -->  
    <priority value="DEBUG" />
    <appender-ref ref="MeinAppender" />
    <!-- <appender-ref ref="stdout" /> -->
  </root>
</log4j:configuration>
