@CHARSET "UTF-8";

/* erstmal alles nullen */

html, body, div, p, h1, h2, h3, ul, ol, 
span, a, table, td, form, img, li {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
    font-size: 12px;	
}

h1, h2, h3, h4, h5 {
    color: #000044;
    font-weight: bold;
}

/*allgemeines*/

a:link {
   color: #0000AA;
   text-decoration: underline;
}

a:visited {
   color: #3300AA;
   text-decoration: underline;
}

a:hover {
   color: #6666BB;
   text-decoration: underline;
}

a:active {
   color: #f60;
   text-decoration: underline;
}

/* spezielles*/

img {
	  border: none;	
	  vertical-align: bottom;
}

dt {
  font-size:18px;
  color:#0000ff;
}
.list-dubpro {
  font-size:8px;
  color:#ff0000;	
}
#div_main_search {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  /*border: 1px solid #f00;*/
}
#div_main_search img {
  margin-bottom: 25;
}

#div_option_tabs {
  font-size:14px;
  padding-left: 50px;
}
#div_option_tabs div {
  background:#EEEEEE none repeat scroll 0 50%;
  border-left:1px solid gray;
  border-right:1px solid gray;
  border-top:1px solid gray;
  float: left;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  margin-left:5px;
  margin-right:5px;  
  
}
#div_search_widgets {
  background:#EEEEEE none repeat scroll 0;
  border:1px solid gray;
  float:left;
  margin-left:40px;
  padding:5px;
}

#div_flat_search {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#div_general_links {
  font-size: 11px;
  color: silver;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid silver;	
}
#div_hitlist {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;	  
}
#div_hitlist table {
  width: 100%;
}
#div_hitlist_scroller {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;	  		
}
#div_hitlist_scroller table {
  width: auto;
}
.paginator {
  /* das ist für den Scroller*/
  font-size: 11px;	
}
.scroller {
  /* das ist für den Scroller*/
  font-size: 9px;	
}

.colHit {
  /*border-top: 1px solid silver;*/  
}
.div_hit_header {
  border-top: 1px solid silver;
  background: #FFFFFF none repeat scroll 0 50%;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.div_hit_overview {
  background: #FFFFFF none repeat scroll 0 50%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.details_link {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;	
}
.command_link {
  font-size: 9px;
  /*font-weight: bold;*/
}

/*
.command_link_lupe {
  background: transparent url(../img/16x16_lupe.PNG) no-repeat scroll 0 100%;
  padding-left: 20px;
}
.command_link_lupe span {
  display: none;
}
.command_link_plus {
  background: transparent url(../img/16x16_plus.PNG) no-repeat scroll 0 100%;
  padding-left: 20px;
}
.command_link_plus span {
  display: none;
}
.command_link_minus {
  background: transparent url(../img/16x16_minus.PNG) no-repeat scroll 0 100%;
  padding-left: 20px;
}
.command_link_minus span {
  display: none;
}*/

.command_link a img {
  margin-top: 0px;
  vertical-align: bottom;
}
.list-identifier {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px; 
}
.hit-url {
  font-size: 11px;
  color: #008800;
}
.hit-creators {
  font-size: 11px;
  /*color: #000000;*/
}
.hit-keywords {
  font-size: 11px;
  /*color: #000000;*/
}
.internal_identifier {
	font-size: 11px;
	color: silver; 
}

/* Seitenaufteilung -- Hitlist */
 
#div_inpagecenter_box {
  float: left;
  width: 70%;	  
}
#div_inpageright_box {
  float: left;
  width: 30%;	  
}
#div_opened_inpageright_box {
  margin-left: 40px;
  float: left;
  width: 95%;	  
}

/* Clipboard in Hitlist */

#div_clipboard_header {
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  padding: 10px;
  background-color: #f0f0ff;
  margin-top: 30px;
  margin-right: 10px;
}
#div_clipboard_overview {
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  padding: 10px;
  margin-right: 10px;
}
#div_clipboard_overview ul {
  list-style: none;		
}
#div_clipboard_footer {
  border: 1px solid black;
  padding: 10px; 
  margin-right: 10px;
}


/* nur innerhalb von clipboard */

#div_clipboard_overview_left {
  float: left;
  padding: 10px;
  margin-right: 10px;
  width: 60%
}
#div_clipboard_overview_right {
  float: left;
  padding: 10px;
  margin-right: 10px;
  width: 30%
}

.div_clipboard_hit_header {
	
}

.div_clipboard_hit_details {
	margin-left:38px;
}

/* ---------------------- hitdetails ---------------------------------------------- */

#div_hitdetails_navi {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;	  				
}
.backlink {
	font-size: 11px;
	font-weight: bold;
}
#div_hitdetails {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;	  				
}
#div_hitdetails table {
	border: thin;
	border-color: black;
}
#div_hitdetails td {
	padding: 5px;	
	vertical-align: top;
}
.hitlist_head {
	background-color: #DDDDEE;	
	font-weight: bold;
	font-size: 13px;	
}
.hitlist_content {
	background-color: #EEEEFF;
	font-size: 11px;	
}
#div_hitdetails ul {
  float: left;
  list-style: none;
}
#div_hitdetails ul li {
  margin-left: 5px;
  margin-right: 5px;	
}
.keyword_li li {
  margin-left: 5px;
  margin-right: 5px;	
  float: left;
  width: 300px;
  font-size: 14px;
}
.title_li li {
  font-size: 14px;
  font-weight: bold;
}
#div_hitdetails_abstract {
  width: 100%;	
}
#div_hitdetails_abstract div {
  width: 45%;	
  float: left;
  margin-left:5px;
  padding-right:10px;
}

/* BROWSING ------------------------------------------------------------------------------------ */
#div_simplebrowselist {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;
}
#div_simplebrowselist li {
  margin-left: 10px;
  font-size: 10px;
  list-style: none;
}
#div_simplebrowselist li li {
  margin-left: 20px;
  font-size: 9px;
  list-style: none;
}
#div_simplebrowselist table tr td {
  background-color: #EEEEFF;
}
/*
.div_simplebrowselist_lvl1_outer {
	border-left: 2px solid grey;	
}
.div_simplebrowselist_lvl1_inner {
	border-bottom: 1px solid grey;	
}
.div_simplebrowselist_lvl2_outer {
	border-left: 2px solid grey;
}
.div_simplebrowselist_lvl2_inner {
	border-bottom: 1px solid grey;	
}
*/
.span_ddc_num {
  font-size: 10px;
  color: silver;   
}
.span_ddc_name {
  font-size: 12px;
  font-weight: bold;	  
}
.span_ddc_selected_name {
  font-size: 16px;
  font-weight: bold;	  
}
.selected_category_wrapper {
  border-left: 3px solid silver;	
}

.center {
  text-align: center;
}
/* BEGIN tabbedpane */
table.tabbedPane {
    width: 100% !important;
    vertical-align: top !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    background-color: #FFFFFF !important;
}

td.activeTab {
    width: 150px !important;
    font-size: 100% !important;
    background-color: #FFFFFF !important;
    border-top: 2px solid #91A0CA !important;
    border-left: 2px solid #91A0CA !important;
    border-right: 2px solid #91A0CA !important;
    border-bottom: 1px none !important;
    padding: 2px !important;
    text-align: center !important;
    font-weight: bold !important;
}
td.activeTab input {
    background-color: #FFFFFF !important;
    font-size: 100% !important;
    text-align: center !important;
    font-weight: bold !important;
}

td.inactiveTab {
    width: 150px !important;
    font-size: 100% !important;
    background-color: #EBEEF8 !important;
    border-top: 2px solid #91A0CA !important;
    border-left: 2px solid #91A0CA !important;
    border-right: 2px solid #91A0CA !important;
    border-bottom: 2px solid #91A0CA !important;
    padding: 2px !important;
    text-align: center !important;
    font-weight: bold !important;
}
td.inactiveTab input {
    background-color: #EBEEF8 !important;
    font-size: 100% !important;
    text-align:center !important;
    font-weight: bold !important;
}
td.activeSub {
    background-color: #FFFFFF !important;
    padding: 0px !important;
    border: 1px solid #FFFFFF !important;
}
td.inactiveSub {
    background-color: #FFFFFF !important;
    padding: 0px !important;
    border: 1px solid #FFFFFF !important;
}
td.myFaces_panelTabbedPane_emptyHeaderCell {
    background-color: #FFFFFF !important;
}

.myFaces_panelTabbedPane_activeHeaderCell input:hover,
.myFaces_panelTabbedPane_inactiveHeaderCell input:hover{
  color:#fff !important;
  background:#08c !important;
}

td.tabContent {
    background-color: #FFFFFF !important;
    border-left: 2px solid #91A0CA !important;
    border-right: 2px solid #91A0CA !important;
    border-bottom: 2px solid #91A0CA !important;
    vertical-align: top !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    height: 100% !important;
    text-align:left !important;
    width:765px;
}

/* END tabbedpane */

#div_project_main {
  margin: 10px;
}

#div_project_main h2 {
  margin-top: 30px;
}

#div_project_main h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#div_project_main p {
  margin-left: 10px;
}

#div_project_main ul {
  list-style: none;
}

#div_project_main ul li {
  float: left;
  width: 33%;
}

#div_impressum_main {
  margin: 10px;
}

#div_impressum_main p {
  margin-left: 10px;
}

#div_impressum_main h2 {
  margin-top: 30px;
}

#div_impressum_main h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.halfbox {
  float: left;
  width: 45%;
  margin-right: 20px;
}

#div_repositories {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;	  				
}
#div_repositories h2 {
  margin-bottom: 10px;
}
#div_repositories ul {
}
#div_repositories ul li {
  float:left;
  margin-bottom:10px;
  margin-left:15px;
  margin-right:5px;
  width:380px;	
}
.span_reponame {
	font-size: 14px;
	font-weight: bold;
}
.span_testbetrieb {
	color: gray;
	font-size: 9px;
}
#div_repositories_list {
  	  				
}
#div_repositories_footer {
  	  				
}