@CHARSET "UTF-8";

/* erstmal alles nullen */

html, body, div, p, h1, h2, h3, ul, ol, 
span, a, table, td, form, img, li {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*allgemeines*/

a:link {
   color: #0000AA;
   text-decoration: underline;
}

a:visited {
   color: #3300AA;
   text-decoration: underline;
}

a:hover {
   color: #6666BB;
   text-decoration: underline;
}

a:active {
   color: #f60;
   text-decoration: underline;
}

/* spezielles*/

dt {
  font-size:18px;
  color:#0000ff;
}
.list-dubpro {
  font-size:8px;
  color:#ff0000;	
}
#div_main_search {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  /*border: 1px solid #f00;*/
}
#div_main_search img {
  margin-bottom: 25;
}
#div_flat_search {
  margin-top: 10px;
  margin-left: 10px;
}
#div_general_links {
  font-size: 11px;
  color: silver;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid silver;	
}
#div_hitlist {
  margin-left: 10px;
  margin-top: 30px;
}
.colHit {
  padding: 10px;
  margin-top: 10px;
  border-left: 5px solid silver;	
  border-bottom: 1px solid silver;	
  
}

.center {
  text-align: center;
}
.internal_identifier {
	font-size: 10px;
	color: silver; 
}