@CHARSET "UTF-8";

/* erstmal alles nullen */

html, body, div, p, h1, h2, h3, ul, ol, 
span, a, table, td, form, img, li {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*allgemeines*/

a:link {
   color: #666;
   text-decoration: underline;
}

a:visited {
   color: #333;
   text-decoration: underline;
}

a:hover {
   color: #f60;
   text-decoration: underline;
}

a:active {
   color: #f60;
   text-decoration: underline;
}

/* spezielles*/

dt {
  font-size:18px;
  color:#0000ff;
}
.list-dubpro {
  font-size:8px;
  color:#ff0000;	
}
#main_search {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  border: 1px solid #f00;
}
#flat_search {
  margin-top: 10px;
  margin-left: 10px;
}
#general_links {
  font-size: 11px;
  color: silver;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid silver;	
}


.center {
  text-align: center;
}