<t:div rendered="#{searchBean.browse.booleanListDDCNaviNodesIsEmpty}">
	<t:outputText value="#{msg.ddc_not_aviable}"/>
</t:div>
<t:div rendered="#{!searchBean.browse.booleanListDDCNaviNodesIsEmpty}">
<div id="div_alle_dcc_cat" >
	<h:commandLink action="#{searchBean.browse.actionUnselectDDCCategoryLink}" title=""><span class="span_ddc_name"><t:outputText value="#{msg.all_categories_no_restrictions}"/></span></h:commandLink>
</div> 

<b><h:outputText value="#{msg.title_list_of_DDC}"/></b>
<t:div rendered="#{!searchBean.browse.showDDCNums}">
	<h:commandButton value="#{msg.show_ddc_numbers}" action="#{searchBean.browse.actionChangeVisibilityOfDDCCategoryNums}"/>
</t:div>
<t:div rendered="#{searchBean.browse.showDDCNums}">
	<h:commandButton value="#{msg.hide_ddc_numbers}" action="#{searchBean.browse.actionChangeVisibilityOfDDCCategoryNums}"/>
</t:div>
<div id="div_dcc_list" > 
	<t:dataList id="ddcnavilist_lvl1" value="#{searchBean.browse.listDDCNaviNodes}" var="node_lvl1" layout="unorderedList">	
		<t:div rendered="#{node_lvl1.inPath}">
			<div class="selected_category_wrapper">
				<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl1.strDDCValue}"/></span>&nbsp;<br /></t:div>
				<span class="span_ddc_selected_name"><t:outputText value="#{node_lvl1.strNameDE}"/></span>
				(<t:outputText value="#{node_lvl1.longItemCount}"/>|<t:outputText value="#{node_lvl1.longItemSubCount}"/>)
				<br/><h:commandButton value="#{msg.start_search}" action="#{searchBean.actionSearchFromDDCTreeDirectlyWithAutoHitsLevelEINS}"/>				
			</div>
		</t:div>	            
		<t:div rendered="#{!node_lvl1.inPath}">
			<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl1.strDDCValue}"/></span>&nbsp;<br /></t:div>
			<h:commandLink action="#{node_lvl1.actionSelectDDCCategoryLink}" title=""><span class="span_ddc_name"><t:outputText value="#{node_lvl1.strNameDE}"/></span></h:commandLink>&nbsp;
		</t:div>
		<t:div rendered="#{node_lvl1.inPath}">
			<t:dataList id="ddcnavilist_lvl2" value="#{node_lvl1.listSubnodes}" var="node_lvl2" layout="unorderedList">	
				<t:div rendered="#{node_lvl2.inPath}">
					<div class="selected_category_wrapper">
						<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl2.strDDCValue}"/></span>&nbsp;<br /></t:div>
						<span class="span_ddc_selected_name"><t:outputText value="#{node_lvl2.strNameDE}"/></span>
						(<t:outputText value="#{node_lvl2.longItemCount}"/>|<t:outputText value="#{node_lvl2.longItemSubCount}"/>)
							<br/><h:commandButton value="#{msg.start_search}" action="#{searchBean.actionSearchFromDDCTreeDirectlyWithAutoHitsLevelZWEI}"/>	
					</div>
				</t:div>
				<t:div rendered="#{!node_lvl2.inPath}">
					<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl2.strDDCValue}"/></span>&nbsp;<br /></t:div>
					<h:commandLink action="#{node_lvl2.actionSelectDDCCategoryLink}" title=""><span class="span_ddc_name"><t:outputText value="#{node_lvl2.strNameDE}"/></span></h:commandLink>
				</t:div>
				<t:div rendered="#{node_lvl2.inPath}">
  	 	  	<t:dataList id="ddcnavilist_lvl3" value="#{node_lvl2.listSubnodes}" var="node_lvl3" layout="unorderedList">
						<t:div rendered="#{node_lvl3.inPath}">
							<div class="selected_category_wrapper">
								<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl3.strDDCValue}"/></span>&nbsp;<br /></t:div>
								<span class="span_ddc_selected_name"><t:outputText value="#{node_lvl3.strNameDE}"/></span>
	              (<t:outputText value="#{node_lvl3.longItemCount}"/>|<t:outputText value="#{node_lvl3.longItemSubCount}"/>)
	              <br/><h:commandButton value="#{msg.start_search}" action="#{searchBean.actionSearchFromDDCTreeDirectlyWithAutoHitsLevelDREI}"/>
							</div>
						</t:div>
            <t:div rendered="#{!node_lvl3.inPath}">
							<t:div rendered="#{searchBean.browse.showDDCNums}"><span class="span_ddc_num"><t:outputText value="#{node_lvl3.strDDCValue}"/></span>&nbsp;<br /></t:div>
							<h:commandLink action="#{node_lvl3.actionSelectDDCCategoryLink}" title=""><span class="span_ddc_name"><t:outputText value="#{node_lvl3.strNameDE}"/></span></h:commandLink>
	            (<t:outputText value="#{node_lvl3.longItemCount}"/>|<t:outputText value="#{node_lvl3.longItemSubCount}"/>)
						</t:div>
					</t:dataList>
				</t:div>	
			</t:dataList>
		</t:div>
	</t:dataList>
</div>
</t:div>	
 
