	
	
			
	<f:subview id="mainnavigation">
		<div id="div_general_links">
			<h:form>
              <a href="start"><h:outputLabel value="#{msg.linkname_start}" /></a>&nbsp;
              <a href="projekt"><h:outputLabel value="#{msg.linkname_projekt}" /></a>&nbsp;
              <a href="impressum"><h:outputLabel value="#{msg.linkname_impressum}" /></a>&nbsp;
              <a href="repositories"><h:outputLabel value="#{msg.linkname_participating_repositories}" /></a>&nbsp;
	            <h:outputLink value="http://oanetzwerk.wordpress.com" target="_blank">Blog</h:outputLink>&nbsp;
	            <h:outputLink value="http://oanetzwerk.wordpress.com/2009/07/03/worum-geht-es-eigentlich/" target="_blank">About</h:outputLink>&nbsp;
	            <a href="contact"><h:outputLabel value="#{msg.linkname_contact}" /></a>&nbsp;
			</h:form>
	    </div>
    </f:subview>